.c-form {

    width: 50%;
    height: 350px;
    margin: 10% 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(216, 222, 222);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(206, 204, 204);

    &__title{
        color: rgb(101, 99, 99);
    }

    &__input{
        margin: 10px;

        text-align: center;

        border: 2px solid grey;
    }

    &__button{
        color: grey;
        background-color: whitesmoke;
        margin: 10px;

        font-weight: bold;
        border: 2px solid grey;
        border-radius: 10px;

        width: 25%;
    }

}