

.header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(233, 42, 42);
    height: 150px;

    &__logo{
        padding: 15px;

        color: rgb(237, 237, 18);

        font-size: 20px;
        font-weight: bold;    
    }

    &__nav{

        display: flex;
        align-items: center;

        &__link{
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;    
            
            margin: 3vh;

        }



    }
}