.c-gallery {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: azure;

    &__card{
        margin: 15px;

        &__img{
            height: 200px;
        }
    }
}

.c-finder{

    height: 200px;
    background-color: azure;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__label{
        font-weight: bold;
    }

    &__input{
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }

    &__button{
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }

    &__showed {
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: azure;
    }
}